* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 50rem;
    background-color: #c662f5;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur(3.0px);
    -webkit-backdrop-filter: blur( 3.0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

#title, .description {
    margin: 1rem 0;
    padding: 1rem;
    text-align: center;
    font-size: 48pt;
    font-family: 'Oswald', sans-serif;
}

.description {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 19pt;
}

.form-group{
    margin: 0.25rem;
    padding: 0.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

label {
    margin-left: 0.1rem;
    padding: 0.1rem;
    
}

#label {
    font-size: 16pt;
    font-weight: bold;
}

input, select, textarea {
    border: none;
    outline-color: #93f13a;
}

input, button, select {
    font-size: 14pt;
    padding: 0.8rem;
    border-radius: 0.5rem;
}

textarea {
    padding: 0.3rem;
    border-radius: 0.3rem;
    resize: none;
    height: 5rem;
    font-family: 'Roboto', sans-serif;
    max-width: 100%;
}

button {
    border: none;
    align-self: flex-end;
    width: 5rem;
    padding: 0.7rem;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #b72ef7;
    transition: 0.2s;
}

@media (max-width: 768px) {
    .container {
        width: 90%;
    }
}